@media (min-width: 400px){
body, html {
    margin: 0;
}
#menu {
    display: flex;
    justify-content: space-around;
}
/* .dot{
    border-radius: 50%;
    background-color: rgb(241, 43, 142);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10%;
    left: 28%;
    margin-right: 10px;
}
#dots{
    display: flex;
    justify-content: space-around;
    width: 15%;
    height: 15%;
} */
.menu-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Pangolin', cursive;
    font-size: 20pt;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 35px;
    box-shadow: 5px 5px 5px grey;
}
#intro {
    background-color: rgb(241, 43, 142);
    border: 5px solid rgb(185, 5, 104);
    color: white;
    z-index: 2;
    transform: rotate(2deg);
    transition: 0.4s;
}
#intro:hover{
    background-color: rgb(255, 198, 252);
    color: black;
}
#inductive{
    background-color: rgb(43, 106, 241);
    border: 5px solid rgb(48, 32, 184);
    color: white;
    transform: rotate(2deg);
    transition: 0.4s;
}
#inductive:hover{
    background-color: rgb(191, 224, 255);
    color: black;
}
.lines{
    border: 0.8px solid rgb(186, 174, 255);
    background-color: rgb(186, 174, 255);
    margin-bottom: 36px;
    opacity: 60%;
}
#vertical{
    height: 140vh;
    width: 0.8px;
    background-color: rgb(248, 157, 157);
    position: absolute;
    left: 10%;
    top: 0;
    border: 0.8px solid rgb(248, 157, 157);
    opacity: 60%;
    z-index: 1;
}
.hole{
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 4%;
  box-shadow: inset 0px 0px 10px rgba(163, 162, 162, 0.9);
}
#second{
    top: 60%;
}
#third{
    top: 100%;
}
#rabbit-home{
    width: auto;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 55%;
}
#welcome{
    font-family: 'Pangolin', cursive;
    font-size: 25pt;
    position: relative;
}
#behind-welcome{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(189, 189, 189);
    width: 40%;
    height: 15%;
    position: absolute;
    top: 30%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(168, 168, 168);
}
#lets-go{
    background-color: rgb(25, 206, 49);
    border-radius: 40px;
    border: 5px solid rgb(4, 136, 11);
    font-family: 'Pangolin', cursive;
    font-size: 25pt;
    padding: 10px 35px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgb(134, 134, 134);
    cursor: pointer;
}
#go-arrow{
    font-size: 35px;
    margin-left: 10px;
}
#go-button{
    position: absolute;
    top: 110%;
    left: 40%;
}
#intro-chat{
    position: absolute;
    top: 56%;
    left: 35%;
    width: auto;
    height: 25vh;
    z-index: 0;
}
#intro-chattext{
    font-family: 'Pangolin', cursive;
    font-size: 22pt;
    z-index: 1;
}
#chat-container{
    width: 20%;
    height: 10%;
    position: absolute;
    left: 38%;
    top: 62%;
}
}


 @media (max-width: 400px){
    body, html {
        margin: 0;
    }
    #menu {
        display: flex;
        justify-content: space-around;
    }
    .menu-button{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Pangolin', cursive;
        font-size: 13pt;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 35px;
        box-shadow: 5px 5px 5px grey;
    }
    #intro {
        background-color: rgb(241, 43, 142);
        border: 5px solid rgb(185, 5, 104);
        color: white;
        z-index: 2;
        transform: rotate(2deg);
        transition: 0.4s;
    }
    #intro:hover{
        background-color: rgb(255, 198, 252);
        color: black;
    }
    #inductive{
        background-color: rgb(43, 106, 241);
        border: 5px solid rgb(48, 32, 184);
        color: white;
        transform: rotate(2deg);
        transition: 0.4s;
    }
    #inductive:hover{
        background-color: rgb(191, 224, 255);
        color: black;
    }
    .lines{
        border: 0.8px solid rgb(186, 174, 255);
        background-color: rgb(186, 174, 255);
        margin-bottom: 36px;
        opacity: 60%;
        display: flex;
        justify-content: start;
    }
    #vertical{
        height: 140vh;
        width: 0.8px;
        background-color: rgb(248, 157, 157);
        position: absolute;
        left: 10%;
        top: 0;
        border: 0.8px solid rgb(248, 157, 157);
        opacity: 60%;
        z-index: 1;
    }
    .hole{
      height: 25px;
      width: 25px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      position: absolute;
      top: 20%;
      left: 4%;
      box-shadow: inset 0px 0px 10px rgba(163, 162, 162, 0.9);
    }
    #second{
        top: 60%;
    }
    #third{
        top: 100%;
    }
    #rabbit-home{
        width: auto;
        height: 30vh;
        position: absolute;
        top: 60%;
        left: 45%;
    }
    #welcome{
        font-family: 'Pangolin', cursive;
        font-size: 25pt;
        position: relative;
    }
    #behind-welcome{
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 5px rgb(189, 189, 189);
        width: 50%;
        height: 20%;
        position: absolute;
        top: 20%;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(168, 168, 168);
        padding: 10px;
    }
    #lets-go{
        background-color: rgb(25, 206, 49);
        border-radius: 40px;
        border: 5px solid rgb(4, 136, 11);
        font-family: 'Pangolin', cursive;
        font-size: 20pt;
        padding: 10px 35px 10px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 5px rgb(134, 134, 134);
        cursor: pointer;
    }
    #go-arrow{
        font-size: 35px;
        margin-left: 10px;
    }
    #go-button{
        position: absolute;
        top: 90%;
        left: 20%;
    }
    #intro-chat{
        position: absolute;
        top: 50%;
        left: 8%;
        width: auto;
        height: 20vh;
        z-index: 0;
    }
    #intro-chattext{
        font-family: 'Pangolin', cursive;
        font-size: 15pt;
        z-index: 1;
    }
    #chat-container{
        width: 50%;
        height: 10%;
        position: absolute;
        left: 14%;
        top: 52%;
    }
    }